<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>{% block title %}Proyecto Finanzas TT{% endblock %}</title>
  <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
<header class="wrap row space">
  <nav class="row gap">
    <a href="/">Inicio</a>
    <a href="/ingresos">Ingresos</a>
    <a href="/ingresos/nuevo">+ Ingreso</a>
    <a href="/egresos">Egresos</a>
    <a href="/egresos/nuevo">+ Egreso</a>
    <a href="/ingresos/resumen">Resumen Ingresos</a>
    <a href="/egresos/resumen">Resumen Egresos</a>
  </nav>
</header>
<main class="wrap">{% block content %}{% endblock %}</main>
<script src="/static/script.js"></script>
</body>
</html>

