{% extends "base.html" %}
{% block content %}
<div class="header-actions">
  <h1>INGRESOS TOTALES</h1>
  <div>
    <a class="btn" href="/ingresos/nuevo">Generar</a>
    <a class="btn" href="/ingresos/resumen">Resumen</a>
    <a class="btn" href="/">Menú</a>
    <button class="btn" id="expInCsv">Exportar CSV</button>
    <button class="btn" id="expInXlsx">Exportar XLSX</button>
  </div>
</div>

<div class="filters">
  <div class="filter-row">
    <input data-col="0" class="filter" placeholder="Filtrar FECHA">
    <input data-col="1" class="filter" placeholder="Filtrar CANTIDAD">
    <input data-col="2" class="filter" placeholder="Filtrar SEMESTRE">
    <input data-col="3" class="filter" placeholder="Filtrar BANCO">
    <input data-col="4" class="filter" placeholder="Filtrar MÉTODO">
    <input data-col="5" class="filter" placeholder="Filtrar LÍNEA">
    <input data-col="6" class="filter" placeholder="Filtrar USER">
    <input data-col="7" class="filter" placeholder="Filtrar EXTRA">
  </div>
</div>

<div class="table-wrap wide">
  <table id="tablaIngresos" class="fixed">
    <thead>
      <tr>
        <th>FECHA</th><th>CANTIDAD</th><th>SEMESTRE</th><th>BANCO</th>
        <th>MÉTODO</th><th>LÍNEA</th><th>USER</th><th>EXTRA</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}
